<!DOCTYPE html>
<html lang="es">
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>SIIAF VAPE</title>
    
   	<!-- Cargar templatetags para manejo de archivos estaticos -->
    {% load staticfiles %}

    <!-- CSS de Bootstrap -->
   	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Si se necesita incluir css especifico aparte de bootstrap la siguiente linea muestra la sintaxis -->
    
    {% block estilos %}
    	<!-- <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}" /> -->
    {% endblock %}

   </head>



	<!--CONTENIDO-->
    <body>
    	<div class="container">
    		{% block content %}

    		{% endblock %}
    	</div>
    </body>



    <!-- jQuery (Necesario para el funcionamiento de bootstrap) -->
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    
    {% block scripts %}
    	<!--<script src="{% static 'main/js/myscript.js' %}"></script> -->
    {% endblock %}
</html>