
{% extends 'main/base.html' %}
{% load staticfiles %}


{% block estilos %}
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap-select.min.css' %}" /> 
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>MAIN APP</h1>
        <p>Esta es la vista principal de la aplicacion main asdfasdfasdfasdfasdfasdfasdfsl</p>
    </div>


    <form class="form-horizontal" role="form" method="GET" action="">
    	{% include 'main/formulario.html' %}
    	<div class="form-group">
    		<button type="submit" class="btn btn-primary">Registrar</button>	
    	</div>	  		
	</form>
		    
    <li><a href="{% url 'main:index' %}">Ir a 'main app'</a></li>
    <li><a href="{% url 'planilla:index' %}">Ir a 'planilla app'</a></li>
    <li><a href="{% url 'facturacion:index' %}">Ir a 'facturacion app'</a></li>
{% endblock %}

{% block scripts %}
	<script src="{% static 'main/js/bootstrap-select.js' %}"></script>
{% endblock %}